In [7]:
import pandas as pd
import numpy as np

In [2]:
d=pd.DataFrame({'Names':['mani','naincy','vishwa'],
                'subject':['DA','ML','PYTHON'],
                'college':['IIT','AEC','ACE']},
                 index=['a','b','c'])
d

    Names subject college
a    mani      DA     IIT
b  naincy      ML     AEC
c  vishwa  PYTHON     ACE

In [3]:
d['subject']

a        DA
b        ML
c    PYTHON
Name: subject, dtype: object

In [4]:
d.loc['b']

Names      naincy
subject        ML
college       AEC
Name: b, dtype: object

In [5]:
d.iloc[2,2]

'ACE'

In [8]:
market_df=pd.read_csv('market.csv')
market_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.8100,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.2700,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.6900,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.8900,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.1500,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.7600,0.01,5,1.32,0.50,0.36
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
8,Ord_4725,Prod_13,SHP_6593,Cust_1641,162.0000,0.01,33,45.84,0.71,0.52
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
10,Ord_4743,Prod_2,SHP_6615,Cust_1641,4072.0100,0.01,43,1675.98,0.99,0.56
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.0500,0.04,27,23.12,3.37,0.57
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
14,Ord_2207,Prod_10,SHP_3006,Cust_839,1410.9300,0.08,10,-317.48,36.09,0.77
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
16,Ord_2282,Prod_9,SHP_3122,Cust_839,443.4600,0.06,30,193.12,1.39,0.38
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
18,Ord_4427,Prod_6,SHP_6171,Cust_1521,283.1300,0.08,45,-141.26,6.81,0.36
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
20,Ord_996,Prod_13,SHP_1378,Cust_371,57.1700,0.08,18,-24.03,2.31,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
22,Ord_996,Prod_5,SHP_1377,Cust_371,3202.2500,0.09,44,991.26,19.99,0.43
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
24,Ord_2573,Prod_3,SHP_3525,Cust_931,197.6100,0.08,13,3.46,7.27,0.38
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
26,Ord_2456,Prod_5,SHP_3367,Cust_931,109.5800,0.00,13,31.32,4.00,0.42
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
28,Ord_2573,Prod_4,SHP_3527,Cust_931,3594.7435,0.05,38,1016.97,2.50,0.55
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
...,...,...,...,...,...,...,...,...,...,...
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8370,Ord_2696,Prod_13,SHP_3690,Cust_1006,62.7800,0.04,20,-17.75,2.03,0.57
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8372,Ord_2772,Prod_9,SHP_3806,Cust_1006,56.9000,0.03,7,12.64,1.39,0.36
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8374,Ord_2658,Prod_5,SHP_3637,Cust_1006,1082.6600,0.08,14,-256.93,48.20,0.74
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8376,Ord_2624,Prod_8,SHP_3590,Cust_1006,1211.0000,0.00,36,-27.99,6.50,0.79
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8378,Ord_2706,Prod_2,SHP_3705,Cust_1006,1361.9100,0.05,20,312.52,3.50,0.59
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8380,Ord_2772,Prod_6,SHP_3807,Cust_1006,308.9200,0.04,45,-143.58,7.37,0.37
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8382,Ord_2658,Prod_3,SHP_3636,Cust_1006,120.9800,0.00,28,-92.85,5.34,0.38
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8384,Ord_4620,Prod_3,SHP_6435,Cust_1577,59.6200,0.04,10,-56.30,7.78,0.37
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8386,Ord_2324,Prod_7,SHP_3189,Cust_851,121.8700,0.07,39,11.32,1.35,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8388,Ord_4424,Prod_1,SHP_6165,Cust_1519,994.0400,0.03,10,-335.06,35.00,NaN
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.9900,0.04,47,-276.54,8.37,0.58
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8392,Ord_5384,Prod_9,SHP_7519,Cust_1798,181.5000,0.08,43,-6.24,2.50,0.37
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [9]:
#head()-prints first rows of data
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

In [10]:
#prints first 7 rows
market_df.head(7)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5,1.32,0.50,0.36

In [11]:
#tail()-prints the last rows
market_df.tail()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [12]:
#prints last 6 rows
market_df.tail(6)

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8394,Ord_5353,Prod_4,SHP_7479,Cust_1798,2841.4395,0.08,28,374.63,7.69,0.59
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8396,Ord_5388,Prod_6,SHP_7524,Cust_1798,243.0500,0.02,39,-70.85,5.35,0.40
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62
8398,Ord_5459,Prod_6,SHP_7628,Cust_1798,603.6900,0.00,47,131.39,4.86,0.38

In [14]:
#sample-prints random rows
market_df.sample()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
4761,Ord_2444,Prod_17,SHP_3352,Cust_955,450.28,0.09,25,-12.35,8.51,0.4

In [19]:
#To print only column names 
market_df.index

RangeIndex(start=0, stop=8399, step=1)

In [18]:
#to print no of rows and columns
market_df.shape

(8399, 10)

In [20]:
market_df.shape[0]

8399

In [22]:
#info-prints information about file
market_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 10 columns):
Ord_id                 8399 non-null object
Prod_id                8399 non-null object
Ship_id                8399 non-null object
Cust_id                8399 non-null object
Sales                  8399 non-null float64
Discount               8399 non-null float64
Order_Quantity         8399 non-null int64
Profit                 8399 non-null float64
Shipping_Cost          8399 non-null float64
Product_Base_Margin    8336 non-null float64
dtypes: float64(5), int64(1), object(4)
memory usage: 656.2+ KB

In [26]:
#null-describe all statistical information
market_df.describe()

,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8336.000000
mean,1775.878179,0.049671,25.571735,181.184424,12.838557,0.512513
std,3585.050525,0.031823,14.481071,1196.653371,17.264052,0.135589
min,2.240000,0.000000,1.000000,-14140.700000,0.490000,0.350000
25%,143.195000,0.020000,13.000000,-83.315000,3.300000,0.380000
50%,449.420000,0.050000,26.000000,-1.500000,6.070000,0.520000
75%,1709.320000,0.080000,38.000000,162.750000,13.990000,0.590000
max,89061.050000,0.250000,50.000000,27220.690000,164.730000,0.850000

In [28]:
market_df['Sales'].mean() #prints mean

1775.8781788308156

In [32]:
market_df['Sales']>30000

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8369    False
8370    False
8371    False
8372    False
8373    False
8374    False
8375    False
8376    False
8377    False
8378    False
8379    False
8380    False
8381    False
8382    False
8383    False
8384    False
8385    False
8386    False
8387    False
8388    False
8389    False
8390    False
8391    False
8392    False
8393    False
8394    False
8395    False
8396    False
8397    False
8398    False
Name: Sales, Length: 8399, dtype: bool

In [31]:
market_df[market_df['Sales']>30000]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
1835,Ord_3875,Prod_17,SHP_5370,Cust_1351,41343.21,0.09,8,3852.19,24.49,0.39
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37
2738,Ord_3084,Prod_17,SHP_4279,Cust_1151,89061.05,0.00,13,27220.69,24.49,0.39
3784,Ord_2338,Prod_17,SHP_3207,Cust_932,45923.76,0.07,7,102.61,24.49,0.39

In [41]:
market_df[(market_df['Sales']>30000) & (market_df['Sales']<35000)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2349,Ord_2373,Prod_14,SHP_3259,Cust_942,33367.85,0.01,9,3992.52,24.49,0.37

In [42]:
market_df[market_df['Prod_id']=='Prod_16']

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
12,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57
93,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56
214,Ord_3730,Prod_16,SHP_5175,Cust_1314,459.08,0.04,34,61.57,3.14,0.60
280,Ord_4143,Prod_16,SHP_5771,Cust_1417,207.21,0.06,24,-78.64,6.14,0.59
304,Ord_4796,Prod_16,SHP_6686,Cust_1659,95.09,0.09,9,-13.53,3.37,0.57
312,Ord_1854,Prod_16,SHP_2548,Cust_727,182.47,0.05,17,-3.18,3.37,0.57
327,Ord_4506,Prod_16,SHP_6273,Cust_1544,92.02,0.07,9,-24.88,4.68,0.59
348,Ord_4080,Prod_16,SHP_5688,Cust_1388,666.40,0.00,39,2.02,7.42,0.56
393,Ord_1551,Prod_16,SHP_2145,Cust_531,184.77,0.00,29,-71.96,5.30,0.55
405,Ord_1579,Prod_16,SHP_2178,Cust_566,139.37,0.04,16,1.72,2.64,0.59
454,Ord_1429,Prod_16,SHP_1976,Cust_510,539.06,0.05,42,-123.07,4.59,0.82
471,Ord_2471,Prod_16,SHP_3386,Cust_965,90.93,0.05,43,-72.50,2.56,0.55
588,Ord_2873,Prod_16,SHP_3957,Cust_1052,138.55,0.03,16,0.90,2.64,0.59
741,Ord_43,Prod_16,SHP_56,Cust_34,9620.82,0.04,6,-1759.58,24.49,0.81
752,Ord_956,Prod_16,SHP_1324,Cust_346,503.17,0.01,46,-10.21,4.68,0.59
753,Ord_975,Prod_16,SHP_1345,Cust_346,638.91,0.02,49,77.48,3.14,0.60
796,Ord_2385,Prod_16,SHP_3273,Cust_939,138.84,0.00,15,8.75,2.64,0.59
804,Ord_4307,Prod_16,SHP_6011,Cust_1440,395.37,0.07,37,17.15,3.37,0.57
811,Ord_4328,Prod_16,SHP_6033,Cust_1440,103.03,0.07,49,-82.63,2.56,0.55
845,Ord_4031,Prod_16,SHP_5613,Cust_1391,171.50,0.02,16,-20.41,4.68,0.59
870,Ord_208,Prod_16,SHP_284,Cust_67,327.15,0.04,19,47.30,3.26,0.56
893,Ord_1154,Prod_16,SHP_1590,Cust_444,483.64,0.10,45,28.39,3.37,0.57
948,Ord_1486,Prod_16,SHP_2052,Cust_513,487.50,0.05,46,-25.88,4.68,0.59
960,Ord_1968,Prod_16,SHP_2692,Cust_1623,576.58,0.04,41,-81.55,7.59,0.56
1055,Ord_4593,Prod_16,SHP_6388,Cust_1457,413.37,0.04,50,-224.41,7.77,0.55
1284,Ord_279,Prod_16,SHP_378,Cust_113,399.58,0.04,46,-188.53,7.77,0.55
1338,Ord_1793,Prod_16,SHP_2484,Cust_826,482.93,0.06,34,-67.59,7.59,0.56
1359,Ord_104,Prod_16,SHP_142,Cust_62,4.99,0.04,1,-3.06,1.32,0.83
1421,Ord_5169,Prod_16,SHP_7226,Cust_1757,210.24,0.00,34,-31.67,3.60,0.56
...,...,...,...,...,...,...,...,...,...,...
6620,Ord_837,Prod_16,SHP_1147,Cust_272,111.55,0.05,35,-54.25,1.92,0.84
6673,Ord_4779,Prod_16,SHP_6663,Cust_1654,103.92,0.08,33,-52.76,1.92,0.84
6763,Ord_5186,Prod_16,SHP_7246,Cust_1763,477.53,0.03,42,51.17,3.37,0.57
7001,Ord_5344,Prod_16,SHP_7462,Cust_1793,6.93,0.01,2,-4.64,2.56,0.55
7105,Ord_3554,Prod_16,SHP_4922,Cust_1259,141.07,0.08,11,-5.10,3.14,0.60
7113,Ord_2651,Prod_16,SHP_3627,Cust_1001,58.50,0.00,17,-25.26,1.92,0.84
7174,Ord_3983,Prod_16,SHP_5539,Cust_1367,177.06,0.10,21,-100.61,7.77,0.55
7237,Ord_1776,Prod_16,SHP_2463,Cust_587,192.39,0.08,19,-31.67,4.68,0.59
7248,Ord_4861,Prod_16,SHP_6783,Cust_1676,135.23,0.10,25,-45.65,3.60,0.56
7281,Ord_1722,Prod_16,SHP_2383,Cust_580,176.24,0.02,15,9.85,3.37,0.57
7344,Ord_755,Prod_16,SHP_1032,Cust_258,235.98,0.03,21,11.82,3.37,0.57
7364,Ord_794,Prod_16,SHP_1091,Cust_232,321.95,0.03,29,20.76,3.37,0.57
7447,Ord_86,Prod_16,SHP_1656,Cust_459,592.73,0.02,45,75.01,3.14,0.60
7469,Ord_620,Prod_16,SHP_848,Cust_214,77.03,0.08,26,-47.75,1.92,0.84
7470,Ord_605,Prod_16,SHP_828,Cust_214,78.57,0.02,21,-20.65,1.32,0.83
7521,Ord_2807,Prod_16,SHP_3863,Cust_1029,174.58,0.08,26,-57.17,4.42,0.58
7525,Ord_965,Prod_16,SHP_1334,Cust_338,191.67,0.03,17,6.02,3.37,0.57
7618,Ord_4996,Prod_16,SHP_6973,Cust_1699,68.42,0.05,33,-57.97,2.56,0.55
7624,Ord_3255,Prod_16,SHP_4515,Cust_1215,106.06,0.08,35,-59.74,1.92,0.84
7647,Ord_3712,Prod_16,SHP_5144,Cust_1299,558.04,0.05,45,40.32,3.14,0.60
7723,Ord_1591,Prod_16,SHP_2198,Cust_490,180.92,0.10,22,-82.54,6.14,0.59
7727,Ord_1338,Prod_16,SHP_1840,Cust_490,194.29,0.09,29,-177.17,8.37,0.58
7753,Ord_4736,Prod_16,SHP_6606,Cust_1643,273.36,0.04,16,32.25,3.26,0.56
7765,Ord_4434,Prod_16,SHP_6180,Cust_1490,141.83,0.06,9,-35.69,7.42,0.56
8005,Ord_2222,Prod_16,SHP_6470,Cust_1602,88.23,0.10,42,-195.93,5.00,0.81
8175,Ord_5231,Prod_16,SHP_7305,Cust_1755,366.84,0.08,37,-50.10,4.68,0.59
8361,Ord_3553,Prod_16,SHP_4920,Cust_1274,128.31,0.05,39,-55.72,1.92,0.84
8364,Ord_3574,Prod_16,SHP_4948,Cust_1274,416.99,0.02,32,-93.62,4.59,0.82
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.64,0.10,30,-31.95,1.32,0.83
8390,Ord_5435,Prod_16,SHP_7594,Cust_1798,316.99,0.04,47,-276.54,8.37,0.58

In [43]:
len(market_df[market_df['Prod_id']=='Prod_16'])

144

In [48]:
market_df[(market_df['Prod_id']=='Prod_16')&(market_df['Sales']>20000)]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
3786,Ord_4806,Prod_16,SHP_6699,Cust_1575,23516.31,0.09,29,1094.74,24.49,0.83

In [49]:
#isnull()-prints if there are non-null values
market_df.isnull()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
8369,False,False,False,False,False,False,False,False,False,False
8370,False,False,False,False,False,False,False,False,False,False
8371,False,False,False,False,False,False,False,False,False,False
8372,False,False,False,False,False,False,False,False,False,False
8373,False,False,False,False,False,False,False,False,False,False
8374,False,False,False,False,False,False,False,False,False,False
8375,False,False,False,False,False,False,False,False,False,False
8376,False,False,False,False,False,False,False,False,False,False
8377,False,False,False,False,False,False,False,False,False,False
8378,False,False,False,False,False,False,False,False,False,False
8379,False,False,False,False,False,False,False,False,False,False
8380,False,False,False,False,False,False,False,False,False,False
8381,False,False,False,False,False,False,False,False,False,False
8382,False,False,False,False,False,False,False,False,False,False
8383,False,False,False,False,False,False,False,False,False,False
8384,False,False,False,False,False,False,False,False,False,False
8385,False,False,False,False,False,False,False,False,False,False
8386,False,False,False,False,False,False,False,False,False,False
8387,False,False,False,False,False,False,False,False,False,False
8388,False,False,False,False,False,False,False,False,False,True
8389,False,False,False,False,False,False,False,False,False,False
8390,False,False,False,False,False,False,False,False,False,False
8391,False,False,False,False,False,False,False,False,False,False
8392,False,False,False,False,False,False,False,False,False,False
8393,False,False,False,False,False,False,False,False,False,False
8394,False,False,False,False,False,False,False,False,False,False
8395,False,False,False,False,False,False,False,False,False,False
8396,False,False,False,False,False,False,False,False,False,False
8397,False,False,False,False,False,False,False,False,False,False
8398,False,False,False,False,False,False,False,False,False,False

In [69]:
market_df.isnull().sum()

Ord_id                  0
Prod_id                 0
Ship_id                 0
Cust_id                 0
Sales                   0
Discount                0
Order_Quantity          0
Profit                  0
Shipping_Cost           0
Product_Base_Margin    63
dtype: int64

In [71]:
market_df['Product_Base_Margin'].mean()

0.5125131957773527

In [75]:
market_df['Product_Base_Margin'].fillna(0.5125,inplace=True)

In [78]:
market_df.isnull().sum()

Ord_id                 0
Prod_id                0
Ship_id                0
Cust_id                0
Sales                  0
Discount               0
Order_Quantity         0
Profit                 0
Shipping_Cost          0
Product_Base_Margin    0
dtype: int64

In [64]:
d=pd.DataFrame({'student':['mani','mani','vishwa'],
                'branch':['IT','IT','CSE'],
                'id':['101','101','103']})
                
d

  student branch   id
0    mani     IT  101
1    mani     IT  101
2  vishwa    CSE  103

In [53]:
#to identify duplicate values and printd boolean values
d.duplicated()

0    False
1    False
2    False
dtype: bool

In [56]:
#prints duplicate value with index
d[d.duplicated()]

  student branch   id
1    mani     IT  101

In [61]:
#drop-to remove duplicate 
d.drop_duplicates()

  student branch   id
0    mani     IT  101
2  vishwa    CSE  103

In [67]:
#to remove in original data
d.drop_duplicates(inplace=True)
d

  student branch   id
0    mani     IT  101
2  vishwa    CSE  103

In [70]:
d.isnull()

   student  branch     id
0    False   False  False
2    False   False  False

In [14]:
#TASK 
import numpy as np
import pandas as pd
d=({'College':['AEC','ACET',np.NaN,'AEC'],
   'Strength':[5000,np.NaN,2500,3899],
   'Placed':['4000',3000,2000,np.NaN],
   'Trained':[np.NaN,6000,5000,3500]})
d

{'College': ['AEC', 'ACET', nan, 'AEC'],
 'Strength': [5000, nan, 2500, 3899],
 'Placed': ['4000', 3000, 2000, nan],
 'Trained': [nan, 6000, 5000, 3500]}

In [44]:
x=pd.DataFrame(d)
x

  College  Strength Placed  Trained
0     AEC    5000.0   4000      NaN
1    ACET       NaN   3000   6000.0
2     NaN    2500.0   2000   5000.0
3     AEC    3899.0    NaN   3500.0

In [31]:
x['College'].value_counts()

AEC     3
ACET    1
Name: College, dtype: int64

In [45]:
x['College'].fillna('AEC',inplace=True)
x

  College  Strength Placed  Trained
0     AEC    5000.0   4000      NaN
1    ACET       NaN   3000   6000.0
2     AEC    2500.0   2000   5000.0
3     AEC    3899.0    NaN   3500.0

In [46]:
x['Strength'].bfill()

0    5000.0
1    2500.0
2    2500.0
3    3899.0
Name: Strength, dtype: float64

In [47]:
x['Strength'].bfill(inplace=True)
x

  College  Strength Placed  Trained
0     AEC    5000.0   4000      NaN
1    ACET    2500.0   3000   6000.0
2     AEC    2500.0   2000   5000.0
3     AEC    3899.0    NaN   3500.0

In [48]:
x['Placed'].ffill()

0    4000
1    3000
2    2000
3    2000
Name: Placed, dtype: object

In [49]:
x['Placed'].ffill(inplace=True)
x

  College  Strength Placed  Trained
0     AEC    5000.0   4000      NaN
1    ACET    2500.0   3000   6000.0
2     AEC    2500.0   2000   5000.0
3     AEC    3899.0   2000   3500.0

In [50]:
x['Trained'].mean()

4833.333333333333

In [51]:
x['Trained'].fillna(4833.33,inplace=True)
x

  College  Strength Placed  Trained
0     AEC    5000.0   4000  4833.33
1    ACET    2500.0   3000  6000.00
2     AEC    2500.0   2000  5000.00
3     AEC    3899.0   2000  3500.00

In [52]:
x.isnull().sum()

College     0
Strength    0
Placed      0
Trained     0
dtype: int64

In [69]:
#TASK HEART DISEASE
hd=pd.read_csv('heart_disease.csv')
hd

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes
10,11,57,1,asymptomatic,140,192,0,0,148,0,0.4,2,0.0,fixed,No
11,12,56,0,nontypical,140,294,0,2,153,0,1.3,2,0.0,normal,No
12,13,56,1,nonanginal,130,256,1,2,142,1,0.6,2,1.0,fixed,Yes
13,14,44,1,nontypical,120,263,0,0,173,0,0.0,1,0.0,reversable,No
14,15,52,1,nonanginal,172,199,1,0,162,0,0.5,1,0.0,reversable,No
15,16,57,1,nonanginal,150,168,0,0,174,0,1.6,1,0.0,normal,No
16,17,48,1,nontypical,110,229,0,0,168,0,1.0,3,0.0,reversable,Yes
17,18,54,1,asymptomatic,140,239,0,0,160,0,1.2,1,0.0,normal,No
18,19,48,0,nonanginal,130,275,0,0,139,0,0.2,1,0.0,normal,No
19,20,49,1,nontypical,130,266,0,0,171,0,0.6,1,0.0,normal,No
20,21,64,1,typical,110,211,0,2,144,1,1.8,2,0.0,normal,No
21,22,58,0,typical,150,283,1,2,162,0,1.0,1,0.0,normal,No
22,23,58,1,nontypical,120,284,0,2,160,0,1.8,2,0.0,normal,Yes
23,24,58,1,nonanginal,132,224,0,2,173,0,3.2,1,2.0,reversable,Yes
24,25,60,1,asymptomatic,130,206,0,2,132,1,2.4,2,2.0,reversable,Yes
25,26,50,0,nonanginal,120,219,0,0,158,0,1.6,2,0.0,normal,No
26,27,58,0,nonanginal,120,340,0,0,172,0,0.0,1,0.0,normal,No
27,28,66,0,typical,150,226,0,0,114,0,2.6,3,0.0,normal,No
28,29,43,1,asymptomatic,150,247,0,0,171,0,1.5,1,0.0,normal,No
29,30,40,1,asymptomatic,110,167,0,2,114,1,2.0,2,0.0,reversable,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,274,71,0,asymptomatic,112,149,0,0,125,0,1.6,2,0.0,normal,No
274,275,59,1,typical,134,204,0,0,162,0,0.8,1,2.0,normal,Yes
275,276,64,1,typical,170,227,0,2,155,0,0.6,2,0.0,reversable,No
276,277,66,0,nonanginal,146,278,0,2,152,0,0.0,2,1.0,normal,No
277,278,39,0,nonanginal,138,220,0,0,152,0,0.0,2,0.0,normal,No
278,279,57,1,nontypical,154,232,0,2,164,0,0.0,1,1.0,normal,Yes
279,280,58,0,asymptomatic,130,197,0,0,131,0,0.6,2,0.0,normal,No
280,281,57,1,asymptomatic,110,335,0,0,143,1,3.0,2,1.0,reversable,Yes
281,282,47,1,nonanginal,130,253,0,0,179,0,0.0,1,0.0,normal,No
282,283,55,0,asymptomatic,128,205,0,1,130,1,2.0,2,1.0,reversable,Yes
283,284,35,1,nontypical,122,192,0,0,174,0,0.0,1,0.0,normal,No
284,285,61,1,asymptomatic,148,203,0,0,161,0,0.0,1,1.0,reversable,Yes
285,286,58,1,asymptomatic,114,318,0,1,140,0,4.4,3,3.0,fixed,Yes
286,287,58,0,asymptomatic,170,225,1,2,146,1,2.8,2,2.0,fixed,Yes
287,288,58,1,nontypical,125,220,0,0,144,0,0.4,2,NaN,reversable,No
288,289,56,1,nontypical,130,221,0,2,163,0,0.0,1,0.0,reversable,No
289,290,56,1,nontypical,120,240,0,0,169,0,0.0,3,0.0,normal,No
290,291,67,1,nonanginal,152,212,0,2,150,0,0.8,2,0.0,reversable,Yes
291,292,55,0,nontypical,132,342,0,0,166,0,1.2,1,0.0,normal,No
292,293,44,1,asymptomatic,120,169,0,0,144,1,2.8,3,0.0,fixed,Yes
293,294,63,1,asymptomatic,140,187,0,2,144,1,4.0,1,2.0,reversable,Yes
294,295,63,0,asymptomatic,124,197,0,0,136,1,0.0,2,0.0,normal,Yes
295,296,41,1,nontypical,120,157,0,0,182,0,0.0,1,0.0,normal,No
296,297,59,1,asymptomatic,164,176,1,2,90,0,1.0,2,2.0,fixed,Yes
297,298,57,0,asymptomatic,140,241,0,0,123,1,0.2,2,0.0,reversable,Yes
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [70]:
#TASK TITANIC
t=pd.read_csv('titanic.csv')
t

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [77]:
t.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [71]:
t.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [72]:
t.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
788,789,1,3,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.575,NaN,S

In [79]:
t.shape

(891, 12)

In [62]:
t.index

RangeIndex(start=0, stop=8399, step=1)

In [73]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [74]:
t.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [75]:
t.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [76]:
t.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [81]:
t['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: Age, Length: 88, dtype: int64

In [84]:
t['Age'].mean()

29.69911764705882

In [86]:
t['Age'].fillna(30,inplace=True)
t

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,29.0,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.0,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.0,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.0,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.0,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,29.0,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.0,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.0,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,29.0,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.0,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [90]:
t['Cabin'].value_counts().max()

4

In [93]:
t['Cabin'].fillna('G6',inplace=True)
t

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,G6,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,G6,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,G6,S
5,6,0,3,"Moran, Mr. James",male,29.0,0,0,330877,8.4583,G6,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,G6,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,G6,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,G6,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,G6,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,G6,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,G6,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,G6,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.0,0,0,244373,13.0000,G6,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,G6,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.0,0,0,2649,7.2250,G6,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,G6,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,G6,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,G6,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,G6,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.0,0,0,2631,7.2250,G6,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.0,0,0,330959,7.8792,G6,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,29.0,0,0,349216,7.8958,G6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,G6,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.0,8,2,CA. 2343,69.5500,G6,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,G6,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,G6,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,G6,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.0,0,0,345777,9.5000,G6,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,G6,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,G6,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,G6,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,G6,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,G6,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,G6,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,G6,S
878,879,0,3,"Laleff, Mr. Kristo",male,29.0,0,0,349217,7.8958,G6,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,G6,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,G6,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,G6,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,G6,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,G6,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,G6,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,G6,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.0,1,2,W./C. 6607,23.4500,G6,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,G6,Q

In [97]:
#prints numeric columns with 0 and 1
pd.get_dummies(t['Embarked'])

     0  1
0    0  1
1    1  0
2    0  1
3    0  1
4    0  1
5    0  1
6    0  1
7    0  1
8    0  1
9    1  0
10   0  1
11   0  1
12   0  1
13   0  1
14   0  1
15   0  1
16   0  1
17   0  1
18   0  1
19   1  0
20   0  1
21   0  1
22   0  1
23   0  1
24   0  1
25   0  1
26   1  0
27   0  1
28   0  1
29   0  1
..  .. ..
861  0  1
862  0  1
863  0  1
864  0  1
865  0  1
866  1  0
867  0  1
868  0  1
869  0  1
870  0  1
871  0  1
872  0  1
873  0  1
874  1  0
875  1  0
876  0  1
877  0  1
878  0  1
879  1  0
880  0  1
881  0  1
882  0  1
883  0  1
884  0  1
885  0  1
886  0  1
887  0  1
888  0  1
889  1  0
890  0  1

[891 rows x 2 columns]

In [96]:
#prints numeric columns with 0 and 1
t['Embarked']=pd.get_dummies(t['Embarked'])
t

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,G6,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,G6,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,G6,1
5,6,0,3,"Moran, Mr. James",male,29.0,0,0,330877,8.4583,G6,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,G6,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,G6,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,G6,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,G6,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,G6,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,G6,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,G6,1
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,G6,1
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.0,0,0,244373,13.0000,G6,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,G6,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.0,0,0,2649,7.2250,G6,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,G6,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,G6,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,G6,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,G6,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.0,0,0,2631,7.2250,G6,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.0,0,0,330959,7.8792,G6,1
29,30,0,3,"Todoroff, Mr. Lalio",male,29.0,0,0,349216,7.8958,G6,1
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,G6,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.0,8,2,CA. 2343,69.5500,G6,1
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,G6,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,G6,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,G6,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.0,0,0,345777,9.5000,G6,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,G6,1
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,G6,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,1
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,G6,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,G6,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,G6,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,G6,1
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,G6,1
878,879,0,3,"Laleff, Mr. Kristo",male,29.0,0,0,349217,7.8958,G6,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,G6,1
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,G6,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,G6,1
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,G6,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,G6,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,G6,1
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,G6,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.0,1,2,W./C. 6607,23.4500,G6,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,G6,1

In [101]:
#prints differentiate with 0 and 1 within a single column
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [102]:
t['Embarked']=le.fit_transform(t['Embarked'])
t

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,G6,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,G6,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,G6,1
5,6,0,3,"Moran, Mr. James",male,29.0,0,0,330877,8.4583,G6,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,G6,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,G6,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,G6,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,G6,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,G6,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,G6,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,G6,1
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,G6,1
17,18,1,2,"Williams, Mr. Charles Eugene",male,29.0,0,0,244373,13.0000,G6,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,G6,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,29.0,0,0,2649,7.2250,G6,0
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,G6,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,G6,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,G6,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,G6,1
26,27,0,3,"Emir, Mr. Farred Chehab",male,29.0,0,0,2631,7.2250,G6,0
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,29.0,0,0,330959,7.8792,G6,1
29,30,0,3,"Todoroff, Mr. Lalio",male,29.0,0,0,349216,7.8958,G6,1
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,G6,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,29.0,8,2,CA. 2343,69.5500,G6,1
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,G6,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,G6,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,G6,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,29.0,0,0,345777,9.5000,G6,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,G6,1
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,G6,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,1
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,G6,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,G6,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,G6,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,G6,1
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,G6,1
878,879,0,3,"Laleff, Mr. Kristo",male,29.0,0,0,349217,7.8958,G6,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,G6,1
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,G6,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,G6,1
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,G6,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,G6,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,G6,1
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,G6,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.0,1,2,W./C. 6607,23.4500,G6,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,G6,1

In [115]:
#TASK HEART DISEASE
hd=pd.read_csv('heart_disease.csv')
hd

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,6,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,7,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,8,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,9,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,10,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes
10,11,57,1,asymptomatic,140,192,0,0,148,0,0.4,2,0.0,fixed,No
11,12,56,0,nontypical,140,294,0,2,153,0,1.3,2,0.0,normal,No
12,13,56,1,nonanginal,130,256,1,2,142,1,0.6,2,1.0,fixed,Yes
13,14,44,1,nontypical,120,263,0,0,173,0,0.0,1,0.0,reversable,No
14,15,52,1,nonanginal,172,199,1,0,162,0,0.5,1,0.0,reversable,No
15,16,57,1,nonanginal,150,168,0,0,174,0,1.6,1,0.0,normal,No
16,17,48,1,nontypical,110,229,0,0,168,0,1.0,3,0.0,reversable,Yes
17,18,54,1,asymptomatic,140,239,0,0,160,0,1.2,1,0.0,normal,No
18,19,48,0,nonanginal,130,275,0,0,139,0,0.2,1,0.0,normal,No
19,20,49,1,nontypical,130,266,0,0,171,0,0.6,1,0.0,normal,No
20,21,64,1,typical,110,211,0,2,144,1,1.8,2,0.0,normal,No
21,22,58,0,typical,150,283,1,2,162,0,1.0,1,0.0,normal,No
22,23,58,1,nontypical,120,284,0,2,160,0,1.8,2,0.0,normal,Yes
23,24,58,1,nonanginal,132,224,0,2,173,0,3.2,1,2.0,reversable,Yes
24,25,60,1,asymptomatic,130,206,0,2,132,1,2.4,2,2.0,reversable,Yes
25,26,50,0,nonanginal,120,219,0,0,158,0,1.6,2,0.0,normal,No
26,27,58,0,nonanginal,120,340,0,0,172,0,0.0,1,0.0,normal,No
27,28,66,0,typical,150,226,0,0,114,0,2.6,3,0.0,normal,No
28,29,43,1,asymptomatic,150,247,0,0,171,0,1.5,1,0.0,normal,No
29,30,40,1,asymptomatic,110,167,0,2,114,1,2.0,2,0.0,reversable,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,274,71,0,asymptomatic,112,149,0,0,125,0,1.6,2,0.0,normal,No
274,275,59,1,typical,134,204,0,0,162,0,0.8,1,2.0,normal,Yes
275,276,64,1,typical,170,227,0,2,155,0,0.6,2,0.0,reversable,No
276,277,66,0,nonanginal,146,278,0,2,152,0,0.0,2,1.0,normal,No
277,278,39,0,nonanginal,138,220,0,0,152,0,0.0,2,0.0,normal,No
278,279,57,1,nontypical,154,232,0,2,164,0,0.0,1,1.0,normal,Yes
279,280,58,0,asymptomatic,130,197,0,0,131,0,0.6,2,0.0,normal,No
280,281,57,1,asymptomatic,110,335,0,0,143,1,3.0,2,1.0,reversable,Yes
281,282,47,1,nonanginal,130,253,0,0,179,0,0.0,1,0.0,normal,No
282,283,55,0,asymptomatic,128,205,0,1,130,1,2.0,2,1.0,reversable,Yes
283,284,35,1,nontypical,122,192,0,0,174,0,0.0,1,0.0,normal,No
284,285,61,1,asymptomatic,148,203,0,0,161,0,0.0,1,1.0,reversable,Yes
285,286,58,1,asymptomatic,114,318,0,1,140,0,4.4,3,3.0,fixed,Yes
286,287,58,0,asymptomatic,170,225,1,2,146,1,2.8,2,2.0,fixed,Yes
287,288,58,1,nontypical,125,220,0,0,144,0,0.4,2,NaN,reversable,No
288,289,56,1,nontypical,130,221,0,2,163,0,0.0,1,0.0,reversable,No
289,290,56,1,nontypical,120,240,0,0,169,0,0.0,3,0.0,normal,No
290,291,67,1,nonanginal,152,212,0,2,150,0,0.8,2,0.0,reversable,Yes
291,292,55,0,nontypical,132,342,0,0,166,0,1.2,1,0.0,normal,No
292,293,44,1,asymptomatic,120,169,0,0,144,1,2.8,3,0.0,fixed,Yes
293,294,63,1,asymptomatic,140,187,0,2,144,1,4.0,1,2.0,reversable,Yes
294,295,63,0,asymptomatic,124,197,0,0,136,1,0.0,2,0.0,normal,Yes
295,296,41,1,nontypical,120,157,0,0,182,0,0.0,1,0.0,normal,No
296,297,59,1,asymptomatic,164,176,1,2,90,0,1.0,2,2.0,fixed,Yes
297,298,57,0,asymptomatic,140,241,0,0,123,1,0.2,2,0.0,reversable,Yes
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [105]:
hd.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            4
Thal          2
AHD           0
dtype: int64

In [116]:
hd.drop('Unnamed: 0',axis=1,inplace=True)

In [117]:
hd

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
5,56,1,nontypical,120,236,0,0,178,0,0.8,1,0.0,normal,No
6,62,0,asymptomatic,140,268,0,2,160,0,3.6,3,2.0,normal,Yes
7,57,0,asymptomatic,120,354,0,0,163,1,0.6,1,0.0,normal,No
8,63,1,asymptomatic,130,254,0,2,147,0,1.4,2,1.0,reversable,Yes
9,53,1,asymptomatic,140,203,1,2,155,1,3.1,3,0.0,reversable,Yes
10,57,1,asymptomatic,140,192,0,0,148,0,0.4,2,0.0,fixed,No
11,56,0,nontypical,140,294,0,2,153,0,1.3,2,0.0,normal,No
12,56,1,nonanginal,130,256,1,2,142,1,0.6,2,1.0,fixed,Yes
13,44,1,nontypical,120,263,0,0,173,0,0.0,1,0.0,reversable,No
14,52,1,nonanginal,172,199,1,0,162,0,0.5,1,0.0,reversable,No
15,57,1,nonanginal,150,168,0,0,174,0,1.6,1,0.0,normal,No
16,48,1,nontypical,110,229,0,0,168,0,1.0,3,0.0,reversable,Yes
17,54,1,asymptomatic,140,239,0,0,160,0,1.2,1,0.0,normal,No
18,48,0,nonanginal,130,275,0,0,139,0,0.2,1,0.0,normal,No
19,49,1,nontypical,130,266,0,0,171,0,0.6,1,0.0,normal,No
20,64,1,typical,110,211,0,2,144,1,1.8,2,0.0,normal,No
21,58,0,typical,150,283,1,2,162,0,1.0,1,0.0,normal,No
22,58,1,nontypical,120,284,0,2,160,0,1.8,2,0.0,normal,Yes
23,58,1,nonanginal,132,224,0,2,173,0,3.2,1,2.0,reversable,Yes
24,60,1,asymptomatic,130,206,0,2,132,1,2.4,2,2.0,reversable,Yes
25,50,0,nonanginal,120,219,0,0,158,0,1.6,2,0.0,normal,No
26,58,0,nonanginal,120,340,0,0,172,0,0.0,1,0.0,normal,No
27,66,0,typical,150,226,0,0,114,0,2.6,3,0.0,normal,No
28,43,1,asymptomatic,150,247,0,0,171,0,1.5,1,0.0,normal,No
29,40,1,asymptomatic,110,167,0,2,114,1,2.0,2,0.0,reversable,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,71,0,asymptomatic,112,149,0,0,125,0,1.6,2,0.0,normal,No
274,59,1,typical,134,204,0,0,162,0,0.8,1,2.0,normal,Yes
275,64,1,typical,170,227,0,2,155,0,0.6,2,0.0,reversable,No
276,66,0,nonanginal,146,278,0,2,152,0,0.0,2,1.0,normal,No
277,39,0,nonanginal,138,220,0,0,152,0,0.0,2,0.0,normal,No
278,57,1,nontypical,154,232,0,2,164,0,0.0,1,1.0,normal,Yes
279,58,0,asymptomatic,130,197,0,0,131,0,0.6,2,0.0,normal,No
280,57,1,asymptomatic,110,335,0,0,143,1,3.0,2,1.0,reversable,Yes
281,47,1,nonanginal,130,253,0,0,179,0,0.0,1,0.0,normal,No
282,55,0,asymptomatic,128,205,0,1,130,1,2.0,2,1.0,reversable,Yes
283,35,1,nontypical,122,192,0,0,174,0,0.0,1,0.0,normal,No
284,61,1,asymptomatic,148,203,0,0,161,0,0.0,1,1.0,reversable,Yes
285,58,1,asymptomatic,114,318,0,1,140,0,4.4,3,3.0,fixed,Yes
286,58,0,asymptomatic,170,225,1,2,146,1,2.8,2,2.0,fixed,Yes
287,58,1,nontypical,125,220,0,0,144,0,0.4,2,NaN,reversable,No
288,56,1,nontypical,130,221,0,2,163,0,0.0,1,0.0,reversable,No
289,56,1,nontypical,120,240,0,0,169,0,0.0,3,0.0,normal,No
290,67,1,nonanginal,152,212,0,2,150,0,0.8,2,0.0,reversable,Yes
291,55,0,nontypical,132,342,0,0,166,0,1.2,1,0.0,normal,No
292,44,1,asymptomatic,120,169,0,0,144,1,2.8,3,0.0,fixed,Yes
293,63,1,asymptomatic,140,187,0,2,144,1,4.0,1,2.0,reversable,Yes
294,63,0,asymptomatic,124,197,0,0,136,1,0.0,2,0.0,normal,Yes
295,41,1,nontypical,120,157,0,0,182,0,0.0,1,0.0,normal,No
296,59,1,asymptomatic,164,176,1,2,90,0,1.0,2,2.0,fixed,Yes
297,57,0,asymptomatic,140,241,0,0,123,1,0.2,2,0.0,reversable,Yes
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [118]:
hd['Ca'].value_counts()

0.0    176
1.0     65
2.0     38
3.0     20
Name: Ca, dtype: int64

In [119]:
hd['Ca'].fillna('0.0',inplace=True)

In [120]:
hd['Thal'].value_counts()

normal        166
reversable    117
fixed          18
Name: Thal, dtype: int64

In [121]:
hd['Thal'].fillna('normal',inplace=True)

In [122]:
hd.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [ ]:
hd['AHD'].